:root{
    --medoc: #365B6D;
}
body{
    background-color: #365B6D;
}
.container {
    padding: 5vh;
    margin-top: 5vw;
    margin-bottom: 5vw;
    line-height: 1.2;
    background-color: #f7f7f7;
    color: #365B6D;
}
.container p{
    color: #3e3e3e;
}
.container ol{
    color: #3e3e3e;
}
h3{
    text-align: center;

}
h2{
    text-align: center;
    font-weight: bolder;
}
.navbar {
    background-color: var(--medoc);
}
.nav-item:link{
    color:white;
    background-color: white;
}
.nav-item:hover{
    color: white;
}
.dwnld{
    display: flex;
    align-items: center;
    justify-content: center;
}
.downldBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:1rem;
    border-radius: 3vh;
    /* margin-left: 20vw; */
    margin-top: 1rem;
    background-color: var(--medoc);
    font-size: var(--ff-primary);
    border: none;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
}

.dp{
    border-radius: 50%;
    width: 5vw;
    width: 5vw;
}

.container-fluid {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1vw;
    text-align: center;
    color: white;
}
form {
    display:flexbox;
    margin-top: 50px;
    transition: all 4s ease-in-out;
    align-items: center;
}
.form-control{
    /* width: 600px; */
    background: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 10px;
    margin-bottom: 16px;
}
input {
    height: 45px;
    color: rgb(255, 255, 255);
}
.submit{
    border-radius: 15%;
    padding: 0.5rem 1rem;
    background: var(--medoc);
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
.submit:hover{
    background-color: var(--medoc);
    cursor: pointer;
}
.container-fluid{
    display:flexbox;
    text-align: center;
    background: #f7f7f7;
    background-size: cover;
    background-position: center;
    color: #365B6D;
}
hr{
    width: 1px;
    color: var(--medoc);
}

.row{
    display: flex;
}
.column{
    flex: 50%;
    padding: 20px;
    border-left: 1px solid #365B6D;
}
.column button{
    display: flexbox;
    align-items: center;
    justify-content: center;
    /* width: 10vw; */
    /* height: 3vh; */
    font-size: 1rem;
    text-align: center;
    margin: 1vw;
    border-radius: 10%;
    border: none;
    outline: none;
    background: #365B6D;
}
.column button:hover{
    background-color: #41C1BA;
}

#Name{
    color: #f7f7f7;
}

.Skills{
    margin-top:-10vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    color: var(--medoc);
    
}
.Skills h1{
    font-size: 10vh;
    text-align: right;
    
}
.Skills div{
    display: flexbox;
    align-items: center;
    justify-content: left;
    
}
.skill1{
    /* display: flex; */
    align-items: left;
    justify-content: left;
    margin-bottom: 5vw;
}
.skills{
    text-align: right;
}
.line{
    display:flex;
    height: 1rem;
    width: 100%;
    background-color: #f7f7f700;
    border-radius: 50vh;
    margin-left: inherit;
    animation: progresser 1000ms ease;

}

@keyframes progresser {
    0%{width:0%};

    100%{width:100%}}


.organisationalLeadership{
    width:80%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.graphicDesign{
    width:56%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.development{
    width:72%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.marketing{
    width:69%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.branding{
    width:63%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.python{
    width:91%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.cpp{
    width:69%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.js{
    width:66%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.java{
    width:91%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.kotlin{
    width:83%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.webdesign{
    width:77%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.vector{
    width:57%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.imgmanip{
    width:47%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.vfx{
    width:43%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.anim{
    width:39%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
.datavisualisation{
    width:85%;
    background-color: var(--medoc);
    animation: progresser 2000ms ease;
}
